header {
    display: flex;
    margin-top: 20px;
}

header div:first-of-type {
    border-bottom: 1px solid black; /* border in the bottom of title div */
}

.titre {
    font-style: italic;
}

.titre::first-letter {
    font-weight: bold;
}

.divs {
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    height: 60px;
}

.divs a {
    text-decoration: none;
    color: black;
}

.div4 {
    border: 1px solid black;
    border-bottom: white; /* bottom of 'Sign Up' in white color */
    border-radius: 10px 10px 0px 0px;
    width: 100px;
    height: 60px;
}

.div4 a {
    color: black;   
}

main {
    display: flex;
    border: 1px solid black;
    height: 80vh;
    border-radius: 0px 0px 10px 10px;
    border-top: white;
    align-items: center;
}

form {
    border: 1px solid black;
    border-radius: 20px;
    height: 75%;
    width: 35%;
}

.input {
    border:2px solid black;
    border-radius: 20px;
    width: 90%;
    height: 40px;
    text-align: center;
}

.button {
    border: 2px solid black;
    border-radius: 15px;
    width: 180px;
    height: 50px;
}
