.titre {
    font-size: 2em;
    font-family: Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

.titre::first-letter {
    font-size: 2.2em;
}

#menu {
    background-color: black;
    border-radius: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#menu a {
    text-decoration: none;
    color: white;
    margin: 30px;
}

.button {
    background-color: rgb(74, 72, 72);
    width: 190px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    display: grid;
    align-items: center;
}

button {
    background-color: gray;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

div a {
    text-decoration: none;
    color: white;
}

.border {
    border: 5px solid black;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}
